body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 3% 15%;
}

/* Section */
.color-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* Css for title */
#title {
  padding-bottom: 65px;
  text-align: left;
}

/*Css for navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* button */
.appleBut {
  margin: 5% 3% 5% 3%;
}

/* images*/
.imagePhone {
  width: 48%;
  transform: rotate(28deg);
  position: absolute;
  right: 30%;
}

/* feature Section css code */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-h3 {
  font-size: 1.5rem;
}

/* Css for testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* Css for Press */
#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Css for Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* Css for cta */

.cta-section {
  width: 100%;
}

/* Css for footer */
#footer {
  color: #fff;
}

#footer a {
  color: black;
  padding: 10px;
}

#footer p {
  margin-top: 10px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
    padding-bottom: 0;
  }

  .imagePhone {
    position: static;
    transform: rotate(0);
  }
}
